@import '_variables.scss';
@import '_mixins.scss';

//globals

*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // overflow-x: hidden;
  // backdrop-filter:blur(4px);
  // -webkit-backdrop-filter:blur(4px);
}
.App{
  background-color: $primary-dark;
  font-family: $font-montserrat;

}
// h1,h2,h3,h4,h5,h6 {

// }
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.5rem;
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

section{
  padding-top: 12rem;
  @include breakpoint("md") {
  padding-top: 10rem;
  }
}