@import 'Styles/_variables';
@import 'Styles/_mixins';

// BEM ---------------
// .header {
//     background-color: $secondary;
//     width: 100vw;
//     height: 4rem;
//     display: grid;
//     place-items: center;
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 99;
//     box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.4);
//     backdrop-filter: blur(4px);

//     &__container {
//         max-width: 1000px;
//         margin: auto;
//         width: $container-lg;
//         height: 100%;
//         display: flex;
//         justify-content: space-between;
//         position: relative;

//     }

//     &__logo_wrapper {
//         @include flex-center;
//     }

//     &__logo_image {
//         height: 2rem;
//         margin-right: $spacing-sm;
//         filter: hue-rotate(180deg);
//     }

//     &__logo_text {
//         font-family: $font-racing-bold;
//         letter-spacing: 0.1rem;
//         font-weight: 600;
//         color: $primary-dark;
//         font-size: 1rem;
//         background-color: transparent;
//     }

//     &__nav {
//         @include flex-center;
//     }

//     &__nav_list {
//         display: flex;


//         // @include breakpoint(0-768) {
//         //     flex-direction: column;
//         //     position: absolute;
//         //     right: 0;
//         //     top: 100% // moves down 100% height of container in which is positioned (header__container)
//         // }
//     }

//     &__list_item {
//         @include flex-center;
//         padding: $spacing-md;
//         transition: $transition;
//         box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.4);

//         @include breakpoint(0-768) {
//             background-color: $secondary;
//         }

//     }

//     &__nav_link {
//         color: $primary-dark;
//         font-weight: 600;
//         letter-spacing: 0.1rem;
//         width: 100%;
//         height: 100%;

//         &--active {
//             // position: relative;
//             color: white;
//             font-weight: 600;
//             letter-spacing: 0.1rem;
//             position: relative;

//             &:after {
//                 content: '';
//                 background-color: $secondary;
//                 display: block;
//                 height: 1rem;
//                 width: 1rem;
//                 position: absolute;
//                 transform: rotate(45deg);
//                 left: calc(50% - 0.6rem);
//                 margin-top: 0.9rem;

//                 @include breakpoint(0-768) {
//                     display: none;
//                 }

//             }
//         }

//         // @include breakpoint(0-768) {
//         //     display: none;

//         // }

//     }


//     &__nav_toggle {
//         background-color: transparent;
//         font-size: 1.5rem;
//         cursor: pointer;
//         display: none;

//         @include breakpoint(0-768) {
//             display: inline-block;
//         }
//     }
// }

.header {
    height: 4rem;
    width: 100vw;
    background-color: $secondary;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: $main-shadow;

    .header_container {
        max-width: 1200px;
        width: 80%;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .logo_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            .logo_image {
                width: 3rem;
                margin-right: 0.2rem;
                filter: hue-rotate(180deg) brightness(75%);

            }

            .logo_text {
                font-family: $font-racing-bold;
                color: $primary-dark;
                font-size: 2rem;
            }
        }

        .nav_list {
            display: flex;
            align-items: center;
            gap: 2rem;
            height: 100%;


            @include breakpoint("sm") {
                flex-direction: column;
                position: absolute;
                right: 0;
                top: 100%;
                gap: 0;
                perspective: 400px;
            }

            .list_item {

                @include breakpoint("sm") {
                    padding: 2rem 5rem;
                    background-color: $secondary;
                    width: 100%;
                    text-align: center;
                    box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.4);
                    animation: navAnim 500ms ease forwards;
                    transform: rotateX(90deg);
                    opacity: 0;
                    transform-origin: top;

                    &:nth-child(2) {
                        animation-delay: 100ms;
                    }

                    &:nth-child(3) {
                        animation-delay: 200ms;
                    }

                    &:nth-child(4) {
                        animation-delay: 400ms;
                    }

                    &:nth-child(5) {
                        animation-delay: 600ms;
                    }

                    &:nth-child(6) {
                        animation-delay: 800ms;
                    }
                }

                .link {
                    color: $primary-dark;

                }

                .active {
                    color: $primary-dark;
                    font-weight: 600;
                    letter-spacing: 0.1rem;
                    position: relative;
                    transition: $transition5;

                    &:after {
                        content: '';
                        background-color: $secondary;
                        display: block;
                        height: 1rem;
                        width: 1rem;
                        position: absolute;
                        transform: rotate(45deg);
                        left: calc(50% - 0.6rem);
                        margin-top: 0.9rem;

                        @include breakpoint("sm") {
                            display: none;
                        }
                    }
                }
            }
        }

        .close_nav {
            display: flex;

            @include breakpoint("sm") {
                display: none;
            }

        }

        .open_nav {
            display: flex;

        }

        .menu_toggle {
            display: none;
            background-color: transparent;
            font-size: 1.2rem;
            cursor: pointer;

            @include breakpoint("sm") {
                display: block;
            }
        }
    }
}

@keyframes navAnim {
    to {
        transform: rotateX(0);
        opacity: 1;
    }
}