@import 'Styles/_variables';
@import 'Styles/_mixins';
@import 'Styles/App.scss';

.programs {
    display: flex;
    flex-direction: column;
    @include breakpoint("sm") {
     width: 90%;
     margin: auto;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        @include breakpoint("md") {
            grid-template-columns: 40% 40%;
            justify-content: center;
            gap: 4rem;
        }
        @include breakpoint("sm") {
            grid-template-columns: 80%;
            justify-content: center;
            gap: 4rem;
        }

        .program_card {
            .icon {
                padding: 0.7rem 0.9rem;
                margin: 3rem 0 2rem;
                font-size: 1.5rem;
                background-color: $secondary;
                border-radius: $border-radius1;
                color: $primary-dark;

                @include breakpoint("md") {
                    margin: 1rem 0 1rem;
                }
            }

            .title {
                padding: 1rem 0;
            }

            .info {
                color: $gray2;
                text-align: center;
                padding: 0 1rem 3rem;
            }

            .btn_link {
                @include btn-medium
            }
        }
    }

}